[submodule "my_plugins/ultisnips"]
	path = my_plugins/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "my_plugins/SimpylFold"]
	path = my_plugins/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
